<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Laboratorista</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <!-- Favicons-->
        <link rel="icon" href="images/favicon.ico">
        <!-- CSS  -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href="stylesheets/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
		<link href="stylesheets/style.min.css" type="text/css" rel="stylesheet" media="screen,projection">
		<link href="stylesheets/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
		<!-- Angular views -->
		<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.1/angular-materialize.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.js"></script>
	</head>
	<body>

	<!-- Start Page Loading -->
    <div id="loader-wrapper">
        <div id="loader"></div>        
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>

    <!-- Side Nav -->
	<ul id="slide-out" class="side-nav fixed">
  	<li class="userView">
	    <div class="row">
      		<img class="background" src="images/user-bg.jpg" style="height:100%;width:100%">
      		<div class="col s12">
      			<a><img src="images/1.jpg" class="circle valign profile-image left"></a>
      			<ul id="profile-dropdown" class="dropdown-content" style="padding-top:0px;margin-top:58px;margin-left:15px">
      				<li><a href="#"><i class="material-icons">person_pin</i><a  href="/profile" style="padding-top:15px">Profile</a></a></li>
                    <li><a href="#"><i class="material-icons">live_help</i><a style="padding-top:15px">Help</a></a></li>
                </ul>
                <a class="btn-flat dropdown-button waves-effect waves-light white-text profile-btn right" data-activates="profile-dropdown">Guido Duchi
                <i class="material-icons right">settings</i></a>
                </div>
            <div class="col s12">
				<a><span class="white-text name">guido.duchi@gmail.com</span></a>
				<a><span class="white-text email">Laboratorista</span></a>
			</div>
	    </div>
  	</li>
	<li><a class="bold waves-effect" ui-sref="RegistrarPaciente"><i class="material-icons">input</i>Muestras Medicas</a></li>
	<li><a class="waves-effect" href="/logout"><i class="material-icons">power_settings_new</i>Salir</a></li>
	</ul>

	<main>
	<nav class="cyan">
    	<div class="nav-wrapper row">
    		<a data-activates="slide-out" class="col s4 button-collapse"><i class="material-icons">menu</i></a>
      		<a href="#" class="col s8 brand-logo white-text left">Salud Primero <img src="images/favicon.ico" style="height:17px"></a>
    	</div>
	</nav>
	</main>

	<% include ../basic/footer %>

	<!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="javascripts/materialize.js"></script>
    <script src="javascripts/init.js"></script>
	<script type="text/javascript" src="javascripts/plugins.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    </body>
</html>